/target/classes/
/target/test-classes/
/target/maven-status/
/target/archive-tmp/
/target/generated-sources/
/target/generated-test-sources/
/target/maven-archiver/
/target/surefire-reports/
/target/GenerateMods-0.0.1-SNAPSHOT.jar
